@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --yfitg-primary: #011c40;
  --yfitg-secondary: #1e3877;
  --yfitg-accent: #2675a6;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

